#burger-menu {
  position: fixed;
  width: 60px;
  height: 60px;
  top: 7px;
  right: 11.5px;
  border: none;
  background: none;
  display: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  z-index: 100;
  border-radius: 50%;
}

@media (max-width: 960px) {
  #burger-menu {
    display: flex;
  }
}

.burger-line {
  position: absolute;
  background-color: var(--text-h);
  height: 4px;
  width: 36px;
  border-radius: 2px;
  z-index: 100;
  transition: translate 0.3s 0.3s, rotate 0.3s 0s, opacity 0s 0.3s, background-color 0.1s ease;
}

.burger-line:first-child {
  top: 18px;
}

.burger-line:last-child {
  top: 38px;
}

#burger-menu .burger-line.burger-open {
  background-color: var(--accent-text);
}

#burger-menu .burger-line.burger-open:first-child {
  transition: translate 0.3s 0s, rotate 0.3s 0.3s, background-color 0.1s ease;
  translate: 0 10px;
  rotate: 45deg;
}

#burger-menu .burger-line.burger-open:nth-child(2) {
  transition: opacity 0s 0.3s, background-color 0.1s ease;
  opacity: 0;
}

#burger-menu .burger-line.burger-open:last-child {
  transition: translate 0.3s 0s, rotate 0.3s 0.3s, background-color 0.1s ease;
  translate: 0 -10px;
  rotate: -45deg;
}

#burger-menu:hover .burger-line {
  background-color: var(--accent);
  box-shadow: var(--shadow);
}

#burger-background {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 7px;
  right: 11.5px;
  background-color: var(--bg-2);
  border-radius: 50%;
  border: none;
  z-index: 98;
  display: none;
  transition: opacity 0.3s ease;
}

@media (max-width: 960px) {
  #burger-background {
    display: block;
  }

  #burger-background.nav-open {
    opacity: 0;
    pointer-events: none;
  }
}
